@import "tailwindcss";
/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
    display: none;
  }
  
  html {
    scrollbar-width: none; /* Firefox */
  }
  
  body {
    -ms-overflow-style: none; /* IE & Edge */
  }
  